<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avgmax.trade.mapper.ClosingPriceMapper">

    <insert id="insert" parameterType="com.avgmax.trade.domain.ClosingPrice">
        INSERT INTO CLOSING_PRICE (CLOSING_PRICE_ID, COIN_ID, UNIT_PRICE, TRADE_DATE, HIGH_PRICE, LOW_PRICE, BUY_QUANTITY, SELL_QUANTITY, CREATED_AT, UPDATED_AT)
        VALUES (#{closingPriceId}, #{coinId}, #{unitPrice}, #{tradeDate}, #{highPrice}, #{lowPrice}, #{buyQuantity}, #{sellQuantity}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="selectBycoinId" parameterType="String" resultType="com.avgmax.trade.domain.ClosingPrice">
        SELECT * FROM CLOSING_PRICE WHERE COIN_ID = #{coinId}
    </select>

    <select id="selectBycoinIdDuring180" parameterType="String" resultType="com.avgmax.trade.domain.ClosingPrice">
        SELECT *
        FROM CLOSING_PRICE
        WHERE COIN_ID = #{coinId}
        ORDER BY TRADE_DATE DESC 
        LIMIT 180
    </select>

</mapper>