<style>
  .coin {
    /* height: 10rem; */
  }
  .coin .name-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 1.5rem;
    /* height: 1.5rem; */
    margin-bottom: 0.5rem;
    padding: 0 12px;
    border-bottom: 0.8px solid #00ff2f;
  }
  .name-container #owner-id {
    font-size: 0.625rem;
  }
  .name-container #coin-id {
    font-size: 1rem;
  }

  .coin .info-container {
    /* height: 60%; */
    display: flex;
    margin: 0 0.8rem;
  }

  .info-container #image {
    width: 4rem;
    /* height: 4rem; */
    margin-right: 0.8rem;
    border-radius: 6px;
    background-color: rgb(153, 153, 153);
  }
  .info-container .group {
    position: relative;
    width: 8rem;
    max-width: 100%;
  }

  .info-container .group .line {
    display: flex;
    margin-bottom: 0.6rem;
  }
  .info-container .group .label-text {
    font-weight: 400;
    -webkit-text-stroke: 0.2px #00ff19;
    font-size: 0.6rem;
    width: 4.2rem;
    line-height: normal;
  }
  .info-container .group .value-text {
    font-weight: 400;
    font-size: 0.6rem;
    min-width: 2rem;
    text-align: left;
    line-height: normal;
    margin-left: 0.1rem;
  }
  .info-container .group .unit-text {
    font-weight: 400;
    font-size: 0.6rem;
    width: 1.3rem; /* ₩ 기호 정렬 */
    text-align: right;
    flex-shrink: 0;
    line-height: normal;
  }

  .coin .result-container {
    margin-top: 3px;
    padding: 0 10px;
    /* height: 1.2rem; */
    color: #ff1d1d;
    text-align: right;
  }

  .result-container .unit-text {
    font-size: 9px;
  }
  .result-container #percent-value {
    font-size: 20px;
    margin-left: 15px;
  }
</style>

<div class="coin border">
  <div class="name-container media-border-none">
    <span id="coin-id">hwan</span>
    <span id="owner-id">허재환</span>
  </div>
  <div class="info-container">
    <div id="image"></div>
    <div class="group media-display-none">
      <div class="line">
        <span class="label-text">보유수량</span
        ><span class="unit-text">FIS</span>
        <span id="quantity" class="value-text">17</span>
      </div>
      <div class="line">
        <span class="label-text">평가 금액</span
        ><span class="unit-text">₩</span>
        <span class="value-text">18,700</span>
      </div>
      <div class="line">
        <span class="label-text">매도 가능 수량</span
        ><span class="unit-text">FIS</span>
        <span class="value-text">12</span>
      </div>
      <div class="line">
        <span class="label-text">매수 단가</span
        ><span class="unit-text">₩</span>
        <span id="buy_price" class="value-text">1,000</span>
      </div>
      <div class="line">
        <span class="label-text">매수 금액</span
        ><span class="unit-text">₩</span>
        <span class="value-text">12,000</span>
      </div>
    </div>
  </div>
  <div class="result-container">
    <span class="unit-text">₩</span>
    <span id="unit-price">1,100</span>
    <span id="percent-value">9</span>
    <span>%</span>
  </div>
</div>
