<!-- <div class="coin border">
  <div class="name-container media-border-none">
    <span id="coin-name">hwan</span>
    <span id="creator-name">허재환</span>
  </div>
  <div class="info-container">
    <div id="creator-image"></div>
    <div class="group media-display-none">
      <div class="line">
        <span class="label-text">보유수량</span
        ><span class="unit-text">FIS</span>
        <span id="hold-quantity" class="value-text">17</span>
      </div>
      <div class="line">
        <span class="label-text">평가 금액</span
        ><span class="unit-text">₩</span>
        <span id="current-buy-amount" class="value-text">18,700</span>
      </div>
      <div class="line">
        <span class="label-text">매도 가능 수량</span
        ><span class="unit-text">FIS</span>
        <span id="sellable-quantity" class="value-text">12</span>
      </div>
      <div class="line">
        <span class="label-text">매수 단가</span
        ><span class="unit-text">₩</span>
        <span id="buy-price" class="value-text">1,000</span>
      </div>
      <div class="line">
        <span class="label-text">매수 금액</span
        ><span class="unit-text">₩</span>
        <span id="total-buy-amount" class="value-text">12,000</span>
      </div>
    </div>
  </div>
  <div class="result-container">
    <span class="unit-text">₩</span>
    <span id="current-price">1,100</span>
    <span id="valuation-rate">9</span>
  </div>
</div> -->
