/* 모바일 */
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .width {
    flex-direction: column;
    padding: 4rem 0 0 0;
    gap: 0;
  }

  .section-left {
    padding: 0.5rem 2rem;
    gap: 0.5rem;
    background: transparent;
  }

  .section-left > div:first-child {
    flex-direction: column;
    gap: 0.5rem;
  }

  .container-profile {
    flex: initial;
    border: 1px solid #00ff2f;
    box-shadow: none;
  }

  .container-live {
    flex: initial;
    border: 1px solid #00ff2f;
    box-shadow: none;
    flex-direction: row;
  }
  
  .container-chart {
    flex: initial;
    min-height: 18.75rem;
    border: 1px solid #00ff2f;
    box-shadow: none;
  }

  .section-right {
    flex: initial;
    gap: 0;
    padding: 0.5rem 2rem;
    background: transparent;
  }

  .container-interface {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(calc(100% - 2.5rem));
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .container-interface.show {
    transform: translateY(0);
  }

  .container-interface .box-toggle {
    display: flex;
    width: 30%;
    margin: 0 auto;
  }

  .container-interface > div:not(.box-toggle) {
    background-color: rgba(15, 15, 15, 0.7);
    padding: 1rem 2rem;
  }

  .container-interface.show > div:not(.box-toggle) {
    background-color: #000000;
    border-top: 1px solid #00ff2f;
  }

  .container-interface > div:nth-child(2) > div {
    width: 100%;
  }

  .container-orderbook {
    flex: initial;
    margin-bottom: 2.5rem;
    min-height: 18.75rem;
  }
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1279px) {
  html {
    font-size: 15px;
  }

  .width {
    padding: 4rem 0.5rem 0.5rem 0.5rem;
    gap: 0.5rem;
  }

  .section-left {
    flex: 3;
  }

  .section-right {
    flex: 2;
  }

  .box-live-price #current-price {
    font-size: 1.8rem;
  }
}

/* 작은 데스크톱 */
/* @media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 16px;
  }

  .width {
    padding: 3.5rem 1rem 1rem 1rem;
  }
} */

/* 큰 데스크톱 */
@media (min-width: 1280px) {
  .width {
    max-width: 100%;
    margin: 0 auto;
  }
} 