/* 모바일 */
@media (max-width: 767px) {
    html {
        font-size: 9px;
    }

    .width {
        width: 42.5rem;
        height: 100rem;
        display: flex;
        flex-direction: column;
    }

    .section-top {
        display: flex;
        width: 100%;
        height: 33%;
    }

    .section-top>.container-left {
        display: none;
    }

    .section-bottom {
        width: 100%;
        height: 64.5%;
        display: flex;
        flex-direction: column;
    }

    /* 컨테이너 전환 */
    .section-bottom .container-top {
        display: none;
    }

    .section-bottom .container-top-mobile {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        box-sizing: border-box;
        height: fit-content;
        min-height: auto;
        padding: 2rem 3rem 1rem 3rem;
    }

    .section-bottom .container-top-mobile .box-search {
        position: relative;
        left: 0;
        transform: none;
        width: 100%;
        height: 3rem;
        background-color: #000000f2;
        border: 1px solid #00ff2f;
        box-shadow: 0 0 5px rgba(0, 255, 47, 0.25);
        display: flex;
        align-items: center;
        border-radius: 0.4rem;
    }

    .section-bottom .container-top-mobile .box-search .search-input {
        flex: 1;
        text-align: center;
        padding: 0 2rem;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1rem;
        color: #00ff2f;
    }

    .section-bottom .container-top-mobile .box-search .search-divider {
        width: 0.0625rem;
        height: 1.5625rem;
        background-color: #00ff2f;
    }

    .section-bottom .container-top-mobile .box-search .search-btn {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0 1rem;
    }

    .section-bottom .container-top-mobile .box-search .search-btn svg {
        width: 1.5625rem;
        height: 1.5625rem;
        stroke: #00ff2f;
        stroke-width: 0.0625rem;
        stroke-linecap: round;
        stroke-linejoin: round;
        vertical-align: middle;
    }

    .section-bottom .container-top-mobile .mobile-sort-view {
        width: 100%;
        height: 3rem;
        display: flex;
        gap: 0.5rem;
        box-sizing: border-box;
    }

    .section-bottom .container-bottom {
        flex: 1;
        padding: 0 1rem;
        overflow-y: auto;
        margin-top: 0;
    }

    .section-bottom .container-bottom .box-grid-card {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        justify-content: center;
        align-items: start;
        padding: 1rem 0;
    }

    .box-grid-card .card-view {
        width: 90%;
        height: 15rem;
        margin: 0 auto;
    }

    .card-view .card-profile {
        padding-top: 5%;
        padding-left: 5%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 70%;
    }

    .card-profile .card-thumbnail {
        width: 9rem;
        height: 9rem;
    }

    .card-thumbnail img {
        width: 100%;
        height: 100%;
    }

    .card-profile .card-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-info .info-meta {
        height: auto;
    }

    .info-meta .info-coin-name {
        font-size: 2.125rem;
        white-space-collapse: collapse;
        text-wrap-mode: nowrap;
    }

    .info-meta .info-author {
        font-size: 1.25rem;
    }

    .card-info .info-change {
        height: auto;
        display: flex;
        align-items: center;
        margin-top: auto;
    }

    .info-change::before {
        font-size: 1rem;
    }

    .info-change .change-amount {
        font-size: 1.5rem;
    }

    .info-change .change-percent {
        font-size: 1.175rem;
    }

    .card-view .card-price {
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2rem;
    }

    .card-price svg {
        width: 2rem;
        height: 2rem;
        font-size: 1.25rem;
    }

    .card-price>.price-amount {
        font-size: 2rem;
    }
}

/* 테블릿 */
@media (min-width: 768px) and (max-width: 1199px) {
    html {
        font-size: 12px;
    }
}

/* 테블릿 */
@media (min-width: 768px) and (max-width: 1199px) {
    html {
        font-size: 12px;
    }
}

/*맥북 14*/
@media (min-width: 1200px) and (max-width: 1700px) {
    html {
        font-size: 16px;
    }
}

/*맥북 16이상*/
@media (min-width: 1701px) {
    html {
        font-size: 18px;
    }
}