/* 모바일 */
@media (max-width: 767px) {
  html {
    font-size: 9px;
  }
  .header {
    top: 0.4rem;
    left: 0;
    background: none !important;
  }
  .width {
    display: block;
    width: 100%;
    padding: 0;
  }
  .section-right-title {
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 1rem;
    color: #ffbb00;
  }
  .media-border-none {
    border: none !important;
  }
  .media-display-none {
    display: none;
  }
  .container-profile,
  .container-ratio,
  .section-right {
    background-color: unset;
  }

  /* 모바일 상단 부분*/
  .section-left {
    display: flex;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 6px 10px 5px #00ff0069;
    background-color: #000000cc;
  }
  .section-left .media-profile-right-row {
    /* display: grid;
    height: 80%; */
    height: 50%;
    margin-top: 4.2rem;
  }
  .main-left {
    width: 90%;
    height: 40%;
    font-size: 1.2rem;
    color: #fff;
  }
  .container-profile {
    margin-top: 3.1rem;
    margin-right: 1rem;
  }
  .container-profile .box-contents .media-profile-left-row {
    display: flex;
    gap: 1rem;
    height: 70%;
    margin-bottom: 1.2rem;
  }
  .box-contents .media-profile-left-row #image {
    width: 10rem;
  }
  .box-contents #link-container .link {
    width: 1.5rem;
  }
  .container-profile .box-contents #position {
    margin-top: 2rem;
  }
  .media-name-container {
    display: block;
    width: 12rem;
  }
  .section-right {
    height: calc(85vh - 20rem);
    gap: 4rem;
    margin-top: 2rem;
  }
  .container-ratio {
    height: 100%;
  }
  .container-ratio .box-ratio-bar {
    margin: 0.2rem;
  }
  .container-ratio .box-coins {
    width: 95%;
    margin-top: 1rem;
  }
  .container-information {
    height: 38%;
    background-color: #000000ab;
  }
  .container-information > .box-inform-main {
    display: block;
  }
  .box-list-main {
    background-color: #000000ab;
  }
  .box-list-main .coin-list {
    width: 90%;
    height: 85%;
    margin-top: 1rem;
    grid-template-columns: repeat(2, 48%);
  }
  /* 코인 */
  .box-list-main .coin-list .coin {
    position: relative;
    height: 6.6rem;
    margin-bottom: 1rem;
    grid-template-rows: 1fr 3fr;
  }
  .coin .info-container {
    padding: 0 1.2rem;
  }
  .coin .info-container #creator-image {
    width: 3.5rem;
    border-radius: 3px;
  }
  .coin .result-container {
    display: inline-block;
    position: absolute;
    right: 0rem;
    bottom: 1rem;
  }
}

/* 테블릿 */
@media (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 10px;
  }
  .section-right-title {
    font-size: 0.6rem;
  }
  .box-contents #stack-container .stack {
    font-size: 0.5rem;
    border-radius: 0.6rem;
  }
  .box-contents #link-container .link {
    width: 1.6rem;
  }
  .container-ratio .box-coins {
    margin-top: 2rem;
  }
  .coin-container {
    font-size: 0.6rem !important;
  }
  .total-money-container #valuation-rate {
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    margin-top: 25%;
  }
  .total-money-container .line {
    font-size: 1rem;
  }

  .container-information,
  .container-list-coins {
    gap: 0.2rem;
    grid-template-rows: 1.3rem 1fr;
  }
  .container-list-coins {
    margin-top: 2rem;
    height: 50%;
  }
  .box-list-main {
    height: 52%;
  }
  .box-list-main .coin-list {
    grid-template-columns: repeat(2, 48.6%) !important;
  }
  .box-list-main .total-info {
    font-size: 0.7rem;
    padding: 0.6rem;
  }
}

@media (min-width: 1200px) and (max-width: 1700px) {
  html {
    font-size: 16px;
  }
  .section-left {
    grid-template-rows: 2.4fr 1fr;
  }
  .box-contents #stack-container .stack {
    font-size: 0.5rem;
    border-radius: 0.6rem;
  }
  .box-contents #link-container .link {
    width: 1.8rem;
  }
  .coin-container .coin {
    width: 0.6rem;
    height: 0.6rem;
  }
  /* section-right */
  .section-right {
    gap: 0.6rem;
  }
  .section-right-title {
    font-size: 0.5rem;
  }
  .container-information,
  .container-list-coins {
    gap: 0.4rem;
    grid-template-rows: 1.1rem 1fr;
  }
  .box-inform-main .main-left {
    font-size: 0.8rem;
  }
  .total-money-container #valuation-rate {
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    margin-top: 25%;
  }
  .total-money-container .line {
    font-size: 0.8rem;
  }
  .box-list-main .coin-list {
    grid-template-columns: repeat(3, 32%);
  }
  .box-list-main .total-info {
    font-size: 0.6rem;
    padding: 0.6rem;
  }
  .box-coins .coin-container {
    font-size: 0.6rem;
  }
  .coin-container .circle {
    width: 0.6rem;
    height: 0.6rem;
  }
}

@media (min-width: 1701px) {
  html {
    font-size: 18px;
  }
  .width {
    grid-template-columns: 2.5fr 6fr;
  }
  .container-profile .box-contents #position {
    margin-top: 1.6rem;
  }
  .box-list-main {
    height: 100%;
  }
}
