@media (max-width: 1000px){
    .section-signup{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1;
    }

    .container-left-signup{
        max-width: 35rem;
    }

    .container-right-signup{
        max-width: 35rem;
    }

    .middle-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
    .left-column{
        justify-content: center;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .table-container {
        border: 1px solid #697077;
        border-radius: 0.5rem;
        background: #1a1a1a;
        padding: 0.25rem;
    }
    
    .table-container::-webkit-scrollbar {
        height: 6px;
    }
    
    .form-table {
        width: 100%;
    }
    
    .form-table th {
        padding: 0.375rem 0.25rem;
        font-size: 0.65rem;
    }
    
    .form-table td {
        padding: 0.375rem 0.25rem;
    }
    .radio-group .radio-item label_{
        padding: 0.1rem, 0.2rem;
    }
}
@media screen and (max-width: 768px) {
    .login-form {
        width: 80%;
        padding: 1.5rem;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 8vw;
    }

    .sub-title {
        font-size: 3vw;
    }
    .input-group{
        width: 80%;
    }
    .input-group label{
        font-size: 0.7rem;
    }
}